RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ $1.html [L]
RewriteRule ^certificate$ certificate.html [L]
RewriteRule ^resume$ resume.html [L]
RewriteRule ^portfolio$ portfolio.html [L]
ErrorDocument 404 /error.html
